[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_4571.snap
Where=/snap/core/4571
Type=squashfs

[Install]
WantedBy=multi-user.target
